*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(73, 14, 63);
}
.COUN{
    text-align: center;
    padding-top: 100px;
    font-size: 80px;
}

.num{
    text-align: center;
    padding-top: 20px;
    font-size: 200px;
}

#decrement{
    font-size: 50px;
    background-color: green;
    margin-left: 300px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#reset{
    font-size: 50px;
    background-color: gold;
    margin-left: 50px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#increment{
    font-size: 50px;
    background-color: blue;
    margin-left: 50px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}